doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-1.9.1.min.js')
    script
      companies = '#{companies}'
    script(src="/javascripts/index.js")

  body
    a(href="/companyList") home
    span(style='margin-right:15px')
    a(href='/logout') logout
    block content